name: Build LaTeX documents
on:
  - pull_request

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3
      - name: Compile Kerberos LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: workshop-codemash-2023.tex
          args: '-pdf -file-line-error -interaction=nonstopmode -shell-escape'
          working_directory: docs/slides